DISCORD_BOT_TOKEN=
BOT_ACTION=reply
WEBHOOK_NAME=gib
DEFAULT_BOT_NAME=gib
CLEAN_LINK_REGEX=["(?i)^(https?://(?:www\\.)?instagram\\.com/[^\\s<>()?]+/)\\?utm_source=ig_web_copy_link&igsh=[\\x21-\\x7E]+$", "(?i)^(https?://(?:www\\.)?instagram\\.com/[^\\s<>()?]+/)\\?igsh=[\\x21-\\x7E]+$"]